.homeBody{
	background-image: url(../img/homeBG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.greeting {
	text-align: center;
	margin-top: 140px;
	font-family: cursive;
}
.intro h1 {
	text-align: center;
	margin-top: 50px;
	font-family: cursive;
	font-size: 75px;
}

header{
	width: 1030px;
}

.navbar-header {
	padding-right: 80px;
}

.navbar-brand {
	color: #333399;
	border-style: solid;
	border-radius: 5px;
	border-color: #000000;
	padding-right: 5px;
	padding-left: 5px;
}

/*.text-center a{
	color: #4d4d4d;
}*/

.otherBody {
	background-color: #e6e6e6;
}

