.homeBody {
	background-image: url(../img/homeBG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.greeting {
	text-align: center;
	margin-top: 140px;
	font-family: cursive;
}
.intro h1 {
	text-align: center;
	margin-top: 50px;
	font-family: cursive;
	font-size: 75px;
}

.text-center {
	font-weight: bold;
}
/*header{
	width: 1030px;
}*/

/*.navbar-header {
	padding-right: 80px;
}*/

.navbar-brand {
	color: #333399;
	border-style: solid;
	border-radius: 5px;
	border-color: #000000;
	/*padding-right: 5px;
	padding-left: 5px;*/
}

/*.text-center a{
	color: #4d4d4d;
}*/

.otherBody {
	background-color: #e6e6e6;
}

.aboutMyself {
	padding-left: 100px;
	padding-right: 100px;
	overflow: visible;
	font-family: "Courier New";
}

#aboutMe {
	font-family: cursive;
	margin-bottom: 20px;
	margin-top: 20px;
}

.photoOfMe {
	background-image: url(../img/me.jpg);
	background-position: right;
	height: 358px;
	width: 275px;
	background-repeat: no-repeat;
	margin: 10px 100px 10px 0px;
	float: right;
	/*width: 275px;
	height: 358px;
	margin-left: 900px;
	margin-top: 10px;
	margin-bottom: 10px;*/
	
}

/*.listOfProjects {
	margin: 30px 30px;
  	border: 2px blue solid;
  	display: grid;
  	grid-auto-rows: auto;
  	grid-template-columns: repeat(3, 1fr);
  	grid-row-gap: 10px;
  	grid-column-gap: 15px;
}*/

/*.proj {
  	background-color: red;
  	color: black;
  	border-radius: 5px;
  	border: 2px black solid;
}*/
.card {
	margin-top: 5px;
}
.card-title {
	color: #3c0372;
	font-family: "Helvetica";
	font-weight: bold;
}
.card-text {
	font-size: 15px;
	font-family: "Helvetica";
	font-weight: 500;
}

